* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* INIZIO HEADER */

header {
    flex-basis: 100%;
    height: 80px;
}

.top-bar1 {
    flex-basis: 50%;
    height: 5rem;
}

.top-bar2 {
    flex-basis: 50%;
    height: 5rem;
}


.ul-header1 {
    list-style-type: none;
    flex-direction: row;
    margin-top: 25px;
  
}  

.ul-header1 li {
    margin-right: 30px;
    text-align: center;
}

.ul-header2 {
    list-style-type: none;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 17rem;
  
}  


.ul-header2 li {
    margin-right: 30px;

}

#inizia {
    background-color:#0061ff;
    color: white;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
}





/* INIZIO SECTION CONTAINER-H1 */

section.container-h1 {
    background-color: #b4d0e7;
    width: 100%;
    height: 35rem;
    justify-content: center;
    align-items: center;

}

div.h1-cont{
    width: 80%;
    height: 20rem;
}


.h1-box {
    width: 100%;

}

.p-h1-left {
    width: 35%;
    height: calc(100% - 3rem);
    margin-top: 40px;

}


#jumbo {
    width: 5rem;
    height: 5rem;
}


.h1-box h1 {
    font-size: 2.5rem;
}

#prova-gratuita {
    background-color: #0061ff;
    color: white;
    margin-top: 40px;
    width: 14rem;
    height: 1.5rem;
    text-align: center;
}

#annulla {
    margin-top: 40px;
}


.fa-sharp {
    margin-top: 40px;
    
}

/* INIZIO SECTION containter-businessforyou */

.containter-businessforyou {
    background-color: brown;
    width: 100%;
    height:90rem;
    justify-content: center;
    align-items: center;

}

.box-bfy {
    background-color: blueviolet;
    width: 70%;
    height: 80rem;
}

.h2-bfy {
    background-color: antiquewhite;
    width: 100%;
    height: 5rem;
}


/* SECTION COLUMN */

.column-box {
    justify-content: space-between
}


.column {
    background-color: white;
    border: 1px solid black;
    width:  calc(70%/3);
    height: 50rem;
    display: inline-block;
    
}


.column-row {
    background-color: white;
    height: 20%;
    width: 100%;
    margin-top: 5rem;
    
}

/* SECTION TWOBOYS */


.container-twoboys {
    background-color: green;
    width: 100%;
    height: 35rem;
    justify-content: center;
    align-items: center;
}


.box-twoboys {
    background-color: white;
    flex-basis: 70%;
    height: 25rem;
}

.twoboys-left {
    background-color: aqua;
    flex-basis: 60%;
    height: 100%;

}

.twoboys-right {
    background-color: red;
    flex-basis: 40%;
    height: 100%;

}

/* SECTION DROPBOX BUSINESS */

.container-dropbox {
    background-color: brown;
    width: 100%;
    height:90rem;
    justify-content: center;
    align-items: center;
}

.box-dropbox {
    background-color: blueviolet;
    width: 70%;
    height: 85rem;
}

.h2-dropbox {
    background-color: antiquewhite;
    width: 100%;
    height: 5rem;
}

.column-dropbox {
    background-color: white;
    border: 1px solid black;
    width:  calc(70%/3);
    height: 25rem;
    justify-content: space-between;

}

.column-box2 {
    justify-content: space-between;
    margin-top: 5rem;
}

#column-raw-dropbox  {
    background-color: white;
    width: 100%;
    height: 16rem;
    margin-top: 5rem;

}

/* SECTION DESIGNIT */

.contenitor-designit {
    background-color: blue;
    width: 100%;
    height:30rem;
}

.box1-designit {
    background-color: azure;
    width:33.33%;
    height: 100%;
}

.box2-designit {
    background-color: lightcoral;
    width:33.33%;
    height: 100%;
}

.box3-designit {
    background-color: blueviolet;    
    width:33.33%;
    height: 100%;
}


.square1 {
    border: 1px solid black;
    width: calc(100%/2);
    height: calc(100%/2);
}

.square2 {
    border: 1px solid black;
    width: calc(100%/2);
    height: calc(100%/2);
}

.square3 {
    border: 1px solid black;
    width: calc(100%/2);
    height: calc(100%/2);
    top: 0%;
    right: 0%;
}

.square4 {
    border: 1px solid black;
    width: calc(100%/2);
    height: calc(100%/2);
    bottom: 0%;
    right: 0%;
}

#h2-designit {
    border: 1px solid black;
    height: 40%;
}

#p-designit {
    border: 1px solid black;
    height: 60%;
}


/* SECTION FREE-TRIAL */

.contenitor-free {
    background-color: lightskyblue;
    width: 100%;
    height: 25rem;
    justify-content: center;
     align-items: center;
}

#box-free {
    background-color: white;
    width: 70%;
    height: 15rem;
}


/* SECTION FREQUENT QUESTIONS */

.contenitor-fq {
    background-color: white;
    width: 100%;
    height: 35rem;
    justify-content: center;
    align-items: center;
}


#box-fq {
    background-color: brown;
    width: 70%;
    height: 85%;
}

#fq-h2 {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid black;
}

.fq-column-row {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
}

/* SECTION FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 35rem;
}


.footer-column {
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;

}


.f-col {
    background-color: white;
    border: 1px solid black;
    width: calc(70%/5);
    height: 70%;
    display: inline-block;
}

.f-end {
    background-color: blanchedalmond;
    width: 100%;
    height: 80px;
}