* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* INIZIO HEADER */

header {
    flex-basis: 100%;
    height: 80px;
}

.top-bar1 {
    flex-basis: 50%;
    height: 5rem;
}

.top-bar2 {
    flex-basis: 50%;
    height: 5rem;
}


.ul-header1 {
    list-style-type: none;
    flex-direction: row;
    margin-top: 25px;
  
}  

.ul-header1 li {
    margin-right: 30px;
    text-align: center;
}

.ul-header2 {
    list-style-type: none;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 17rem;
  
}  


.ul-header2 li {
    margin-right: 30px;

}

#inizia {
    background-color:#0061ff;
    color: white;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
}





/* INIZIO SECTION CONTAINER-H1 */

section.container-h1 {
    background-color: #b4d0e7;
    width: 100%;
    height: 680px;

}

.box-big {
    width: 80%;
    margin-left: 10rem;
    margin-top: 3rem;
}

.h1-box {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}


.h1-box h1 {
    font-size: 5rem;
    margin-top: 2rem;
}


.p-h1-left {
    width: 30%;
    height: 100%;
}

.p-h1-right {
    width: 70%;
    height: 100%;
}

#prova-gratuita {
    background-color: #0061ff;
    color: white;
    margin-top: 50px;
    width: 14rem;
    height: 1.5rem;
    text-align: center;
}

#annulla {
    margin-top: 40px;
}


.fa-sharp {
    margin-top: 55px;
    font-size: 50px;
    
}

#jumbo {
    width: 50rem;
    height: 30rem;
    margin-left: 4rem;
}



/* INIZIO SECTION containter-businessforyou */

.containter-businessforyou {
    width: 100%;
    height:110rem;
    justify-content: center;
    align-items: center;

}

.box-bfy {
    width: 70%;
    height: 80rem;
}

.h2-bfy {
    width: 100%;
    height: 7rem;
}


/* SECTION COLUMN */

.column-box {
    justify-content: space-between
}


.column {
    border: 1px solid black;
    width:  calc(70%/3);
    height: 60rem;
    display: inline-block;
    margin-top: 3rem;
    line-height: 2.5rem;
    font-size: 0.8rem    
}


.column-row {
    border: 1px solid black;
    background-color: white;
    height: 20%;
    width: 100%;
    margin-top: 5rem;
    
}


.h2-bfy h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#radio2 {
    margin-left: 5rem;
}


.top-col {
    border-bottom: 1px solid black;
    height: 2rem;
    align-items: center;
    justify-content: center;

}

.top1-col {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

 h3 {
    font-size: 1.5rem;
}

.price {
    font-weight: bold;
    font-size: larger;

}

.month {
    opacity: 60%;
}

.top2-col {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.top3-col {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.trial {
    background-color: #0061ff;
    color: white;
    width: 12rem;
    height: 2.8rem;
    text-align: center;
}

hr {
    width: 4rem;
    margin: 1.5rem 1.5rem;
}



.top4-col {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.col-row-title {
    border-bottom: 1px solid black;
    height: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.col-row-part1 {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

#contact-office {
    font-size: small;
    font-weight: bold;
    margin-bottom: 4rem;
}

#solution {
    margin-left: 1.5rem;
    opacity: 90%;
}

#tecnical-office {
    background-color: #0061ff;
    color: white;
    margin-left: 50rem;
    font-size: large;

}

/* SECTION TWOBOYS */


.container-twoboys {
    width: 100%;
    height: 45rem;
    justify-content: center;
    align-items: center;
}


.box-twoboys {
    flex-basis: 70%;
    height: 35rem;
}

.twoboys-left {
    background-image: url(../img/partner.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 60%;
    height: 100%;

}

.twoboys-right {
    flex-basis: 30%;
    height: 100%;
    margin-top: 5rem;
    margin-left: 4rem;

}

#find-partner {
    margin-top: 2rem;
}

#partner {
    border: 1px solid black;
    width: 10rem;
    height: 2rem;
    margin-top: 3rem;
    text-align: center;
}

/* SECTION DROPBOX BUSINESS */

.container-dropbox {
    width: 100%;
    height:95rem;
    justify-content: center;
}

.box-dropbox {
    width: 70%;
    height: 85rem;
}

.h2-dropbox {
    width: 100%;
    height: 5rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.column-dropbox {
    width:  calc(70%/3);
    justify-content: space-between;

}

.column-box2 {
    justify-content: space-between;
    margin-top: 5rem;
}

#column-raw-dropbox  {
    margin-top: 5rem;

}


#business-feature {
    width: 100%;
    height: 50%;
}

.column-dropbox h3 {
    font-size: 1.2rem;
}

.column-dropbox p {
    text-align: left;
    margin-top: 2rem;
    font-size: smaller;
}

.column-row-dropbox h2 {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

/* SECTION DESIGNIT */

.contenitor-designit {
    background-color: blue;
    width: 100%;
    height:30rem;
}

.box1-designit {
    width:33.33%;
    height: 100%;
}

.box2-designit {
    background-color: #f5f5f5;
    width:33.33%;
    height: 100%;
}

.box3-designit {    
    width:33.33%;
    height: 100%;
}


.square1a {
    border: 12px solid #d1e9cd;
    background-color: #a2d39b;
    width: calc(100%/2);
    height: calc(100%/2);
}

.square2a {
    background-color: #0093ce;
    width: calc(100%/2);
    height: calc(100%/2);
}

.square3a {
    background-color: #61082b;
    width: calc(100%/2);
    height: calc(100%/2);
    top: 0%;
    right: 0%;
}

.square4a {
    background-color: #ff1c1c;
    width: calc(100%/2);
    height: calc(100%/2);
    bottom: 0%;
    right: 0%;
}

.square1b {
    background-color: #d5001f;
    width: calc(100%/2);
    height: calc(100%/2);
}

.square2b {
    background-color: #8a2be2;
    width: calc(100%/2);
    height: calc(100%/2);
}

.square3b {
    background-color: #b4d0e7;
    width: calc(100%/2);
    height: calc(100%/2);
    top: 0%;
    right: 0%;
}

.square4b {
    background-color: #ffd830;
    width: calc(100%/2);
    height: calc(100%/2);
    bottom: 0%;
    right: 0%;
}

#h2-designit {
    height: 25%;
}

.p-designit {
    height: 75%;
}


.photo1a {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    margin-left: 2.3rem;
    filter: invert(100%);
}

.photo2a {
    width: 10rem;
    margin-top: 6.3rem;
    margin-left: 2.5rem;
    filter: invert(100%);
}

.photo3a {
    width: 10rem;
    margin-top: 3.4rem;
    margin-left: 3.3rem;
    filter: invert(100%);
}

.photo4a {
    width: 8rem;
    height: 6rem;
    margin-top: 4rem;
    margin-left: 4rem;
    filter: invert(100%);
}

.photo1b {
    width: 9rem;
    height: 9rem;
    margin-top: 3rem;
    margin-left: 3.3rem;
    filter: invert(100%);

}

.photo2b {
    width: 9rem;
    height: 9rem;
    margin-top: 3rem;
    margin-left: 3.3rem;
    filter: invert(100%);
}

.photo3b {
    width: 9rem;
    height: 9rem;
    margin-top: 3rem;
    margin-left: 3.3rem;
    filter: invert(100%);
}

.photo4b {
    width: 9rem;
    height: 9rem;
    margin-top: 3rem;
    margin-left: 3.3rem;
    filter: invert(100%);
}

.designit {
    width: 15rem;
    height: 8rem;
    margin-left: 1.8rem;
}

.p-designit p {
    margin-left: 1.6rem;
    margin-top: 2rem;
}

#mortem {
    margin-top: 3   rem;
}


/* SECTION FREE-TRIAL */

.contenitor-free {
    background-color: #b4d0e7;
    width: 100%;
    height: 25rem;
    justify-content: center;
     align-items: center;
}

#box-freeleft {
    width: 40%;
    height: 15rem;
}

#box-freeright {
    width: 30%;
    height: 15rem;
}

#box-freeleft h2 { 
    color: #61082b;
    font-size: 3rem;
    margin-top: 3rem
}

#box-freeright {
    background-color: white;
    width: 13rem;
    height: 1.4rem;
    margin-bottom: 4rem;
    margin-left: 8rem;
    
}


/* SECTION FREQUENT QUESTIONS */

.contenitor-fq {
    background-color: white;
    width: 100%;
    height: 50rem;
    justify-content: center;
    align-items: center;
}


#box-fq {
    width: 70%;
    height: 50%;
}

#fq-h2 {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.fq-column-row {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    margin-bottom: 4rem;
    font-weight: bold;
}

.fq-column-row span {
    margin-left: 25rem;
}



/* SECTION FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 35rem;
}


.footer-column {
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;

}


.f-col {
    color: white;
    width: calc(70%/5);
    height: 70%;
    display: inline-block;
    line-height: 3rem;
}

.f-col ul {
    list-style-type: none;
}

.f-col p {
    opacity: 70%;
}

.f-end {
    width: 70%;
    height: 80px;

}

.f-end p {
    color: white;
    margin-left: 13.8rem;
    opacity: 60%;
}