* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* INIZIO HEADER */

header {
    background-color: aqua;
    flex-basis: 100%;
    height: 5rem;
}

.top-bar1 {
    border: 1px solid black;
    flex-basis: 50%;
    height: 5rem;
}

.top-bar2 {
    border: 1px solid black;
    flex-basis: 50%;
    height: 5rem;
}

/* INIZIO SECTION CONTAINER-H1 */

section.container-h1 {
    background-color: blue;
    width: 100%;
    height: 35rem;
    justify-content: center;
    align-items: center;

}

div.h1-cont{
    background-color: aquamarine;
    width: 80%;
    height: 20rem;
}


.h1-box {
    background-color: aliceblue;
    width: 100%;
    height: 3rem;
}

.p-h1-left {
    background-color: bisque;
    width: 100%;
    height: calc(100% - 3rem);

}


#jumbo {
    width: 5rem;
    height: 5rem;
}

/* INIZIO SECTION containter-businessforyou */

.containter-businessforyou {
    background-color: brown;
    width: 100%;
    height:90rem;
    justify-content: center;
    align-items: center;

}

.box-bfy {
    background-color: blueviolet;
    width: 70%;
    height: 80rem;
}

.h2-bfy {
    background-color: antiquewhite;
    width: 100%;
    height: 5rem;
}

.column-box {
    justify-content: space-between
}


.column {
    background-color: white;
    border: 1px solid black;
    width:  calc(70%/3);
    height: 50rem;
    display: inline-block;
    
}


.column-row {
    background-color: white;
    height: 20%;
    width: 100%;
    margin-top: 5rem;
    
}